[user]
	name = Cullen Taylor
	email = cullen@eggshell.me
	signingkey = EAA3B3F6153EA9C7
[core]
	editor = vim
[gitreview]
	username = eggshell
[init]
    defaultBranch = main
[safe]
	directory = /app
[commit]
	gpgsign = true
