[user]
	name = Cullen Taylor
	email = cullen@eggshell.me
	signingkey = D3432548862A08F5
[core]
	editor = vim
[gitreview]
	username = eggshell
[init]
    defaultBranch = main
[safe]
	directory = /app
[commit]
	gpgsign = true
