vim/.vim/.netrwhst

# Ignore vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags

# ignore hexchat configs
servlist.conf
sound.conf
notify.conf
ignore.conf
hexchat.conf
chanopt.conf
addon_sysinfo.conf
addon_checksum.conf
scrollback
