# set dpi for hidpi screens
# xrandr --dpi 140

# set keyboar7d repeat rate
xset r rate 200 40

# make sure ~/.Xresources is loaded
xrdb -merge ~/.Xresources

# turn off Thinkpad touchpad
synclient TouchpadOff=1
synclient MaxTapTime=0

# startup applications
#dropbox start &>/dev/null
#nm-applet    &
#redshift-gtk &
#vpn          &
compton --config ~/.config/compton.conf -b
blueman-applet > /dev/null 2>&1 &
xscreensaver > /dev/null 2>&1 &
