# set dpi for hidpi screens
xrandr --dpi 140

# set keyboar7d repeat rate
xset r rate 200 60

# make sure ~/.Xresources is loaded
xrdb -merge ~/.Xresources

# turn off Thinkpad touchpad
synclient TouchpadOff=1

# startup applications
nm-applet    &
redshift-gtk &
vpn          &
xscreensaver &
